/** ���� */
/* Բ�ǲ��ÿ� */
#nav{
	border-radius: 0;
}
/* �������˵������͵��������һ�� */
#nav ul.dropdown-menu{
	background: #080808;
}
/*ͬ��*/
#nav ul.dropdown-menu a:hover{
	background: #222222;
}
/*ͬ��*/
#nav ul.dropdown-menu a{
	color:#FFF;
}
/* ԭֵ-15,��֪Ϊʲô��ô�� */
#nav .navbar-right {
	margin-right: 0px;
}

div.header{
	border-bottom:5px solid #222;
}
div.header>div{
	width:120px;
	height:40px;
	background:#222;
	border-top:2px solid;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	text-align:center;color:#FFF;
	font-size:20px;
}
div.header>div span{
	padding-top:10px;
	display:inline-block;
}

/** ����easyui*/
/* easyui datetimeboxʱ��ѡ��������ֲ��ɼ�color:inheritʱ���ɼ� */
div.datebox-calendar-inner+div input.textbox-text{
	color:#000000;
}
/*easyui datagrid ԭֵΪwidth: 10000px������б��Ҳ����Ƕ��һ�� */
/* div.datagrid-header-inner{
	width:100%;
} */
/* ͬ�� */
/* div.datagrid-header-inner table.datagrid-htable{
	width:100%;
} */
/* div.datagrid-body table.datagrid-btable{
	width:100%;
} */