<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/component::commonHead('资源管理')"></head>
<body>
	<div th:include="fragments/layout::nav"></div>
	<div th:include="fragments/layout::nav-list"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				 <div id="tree"></div>
			</div>
			<div class="col-md-8">
				<div id="toolbar">
					<button id="addModalBut" type="button" class="btn btn-success">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
					</button>
					<button id="alterModalBut" type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
					</button>
					<button id="deleteBut" type="button" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除
					</button>
				</div>
				<table id="resourceTab"></table>
			</div>
		</div>
	</div>
	
	<div id="addModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">新增</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="addResourceName">资源描述</label> 
							<input type="text" class="form-control" id="addResourceName" name="resourceName"/>
						</div>
						<div class="form-group">
							<label for="addUrl">URL</label> 
							<input type="text" class="form-control" id="addUrl" name="url"/>
						</div>
						<div class="form-group">
							<label for="addResourceOrder">排序</label> 
							<input type="text" id="addResourceOrder" class="form-control" value="10000"/>
						</div>
						<div class="form-group">
							<label for="addType">资源类型</label> 
							<input type="text" id="addType" style="width:100%;"/>
						</div>
						<div class="form-group">
							<label for="addPermision">权限表达式</label> 
							<input type="text" id="addPermision" class="form-control" name="permision"/>
						</div>
						<div class="form-group">
							<label for="addRemark">备注</label> 
							<input type="text" id="addRemark" class="form-control" name="remark"/>
						</div>
						<div id="addHidden" class="hidden">
							<input id="addParentIdHidden" name="parentId" type="hidden"/>
							<input id="addTypeHidden" name="type" type="hidden"/>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-custom-commit="1">确定</button>
					<button class="btn btn-danger" data-custom-cancel="1">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="alterModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">修改</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="alterResourceName">资源描述</label> 
							<input type="text" class="form-control" id="alterResourceName" name="resourceName"/>
						</div>
						<div class="form-group">
							<label for="alterUrl">URL</label> 
							<input type="text" class="form-control" id="alterUrl" name="url"/>
						</div>
						<div class="form-group">
							<label for="alterResourceOrder">排序</label> 
							<input type="text" class="form-control" id="alterResourceOrder" name="resourceOrder" value="10000"/>
						</div>
						<div class="form-group">
							<label for="alterType">资源类型</label> 
							<input type="text" id="alterType" style="width:100%;"/>
						</div>
						<div class="form-group">
							<label for="alterPermision">权限表达式</label> 
							<input type="text" class="form-control" id="alterPermision" name="permision"/>
						</div>
						<div class="form-group">
							<label for="alterRemark">备注</label> 
							<input type="text" class="form-control" id="alterRemark" name="remark"/>
						</div>
						<div id="alterHidden" class="hidden">
							<input id="alterIdHidden" name="resourceId" type="hidden"/>
							<input id="alterTypeHidden" name="type" type="hidden"/>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-custom-commit="1">确定</button>
					<button class="btn btn-danger" data-custom-cancel="1">取消</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/static/component/common/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/bootstrap-table/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/select2/js/select2.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/common/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/common/js/common.js}"></script>
	
	<script type="text/javascript" th:src="@{/static/admin/resourceManage.js}"></script>
</body>
</html>