<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/component::commonHead('角色管理')"></head>
<body>
	<div th:include="fragments/layout::nav"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="toolbar">
					<button id="addModalBut" type="button" class="btn btn-success">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
					</button>
					<button id="alterModalBut" type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
					</button>
					<button id="alterPassModalBut" type="button"
						class="btn btn-danger">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>重置缓存
					</button>
					<button id="deleteBut" type="button" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除
					</button>
				</div>
				<table id="userTab"></table>
			</div>
		</div>
	</div>
	
	<div id="addModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">新增</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="addRoleName">角色</label> 
							<input type="text" class="form-control" id="roleName" name="roleName"/>
						</div>
						<div class="form-group">
							<label for="addDescription">角色描述</label> 
							<input type="text" class="form-control" id="addDescription" name="description"/>
						</div>
						<div class="form-group">
							<label for="addResource">资源</label> 
							<input type="text" id="addResource"/>
						</div>
						<div id="addHidden" class="hidden">
							<input id="addResourceHidden" name="resources" type="hidden"/>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-custom-commit="1">确定</button>
					<button class="btn btn-danger" data-custom-cancel="1">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div id="alterModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">修改</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="alterRoleName">角色</label> 
							<input type="text" class="form-control" id="alterRoleName" name="roleName"/>
						</div>
						<div class="form-group">
							<label for="alterDescription">角色描述</label> 
							<input type="text" class="form-control" id="alterDescription" name="description"/>
						</div>
						<div class="form-group">
							<label for="alterResource">资源</label> 
							<input type="text" id="alterResource"/>
						</div>
						<div id="alterHidden" class="hidden">
							<input id="alterRoleIdHidden" name="roleId" type="hidden"/>
							<input id="alterResourceHidden" name="resources" type="hidden"/>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-custom-commit="1">确定</button>
					<button class="btn btn-danger" data-custom-cancel="1">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div id="alterPassModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">权限选择</h4>
				</div>
				<div class="modal-body">
					<div>
					 	<div id="tree"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-custom-commit="1">确定</button>
					<button class="btn btn-danger" data-custom-cancel="1">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/static/component/common/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/bootstrap-table/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/select2/js/select2.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/common/bootbox.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/static/component/admin/roleManage.js}"></script>
</body>
</html>