#loginFrm span.input-group-addon,#loginFrm input.form-control,#loginFrm button.btn{
	border-radius:0px;
}
#loginFrm span.input-group-addon:first-child>i{
	opacity: 0.6;
}
#loginFrm div.input-group{
	margin-bottom:20px;
}
#loginFrm input.form-control:focus{
	border-color: #080808;
	box-shadow:none;
}
div.panel.panel-default{
	border-color:#080808;
}
div.panel-default div.panel-heading{
	color:#FFF;
	background-color:#080808;
}
div.panel-body input, div.panel-body span{
	border-color:#222;
}
div.panel-footer{
	color: #d9534f;
	height:40px;
	padding-top: 10px;
	background-color:#eee;
}
div.panel-footer a{
	color: #d9534f;
	text-decoration: none;
	display: block;
}