<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjk.dao.ResourceMapper">
	

	<select id="getPerm2RoleList" resultType="map">
		select A.permision,C.role_name as roleName from 
		t_resource_info A
		left join 
		t_role_resource_link B
		on A.resource_id = B.resource_id
		left join t_role_info C
		on C.role_id = B.role_id
		where ifnull(A.node_type,0) != 1
	</select>
	
	<select id="getAllNodeDTO" parameterType="map" resultType="com.cjk.dto.admin.ResourceNodeDTO">
		select resource_id as resourceId, resource_name as text, type as type, resource_order as resourceOrder, 
		parent_id as parentId, url as url, permision as permision, node_type as nodeType, icon as icon
		from t_resource_info
	</select>
	
	<select id="getAll" resultType="com.cjk.dto.admin.ResourceDTO" parameterType="map">
		select resource_id as resourceId, resource_name as resourceName, type as type, url as url, 
		resource_order as resourceOrder, parent_id as parentId, parent_ids as parent_ids, 
		permision as permision, remark as remark, node_type as roleType, icon as icon
		from t_resource_info
		<where>
			<if test="pId != null">
				(resource_id = #{pId} or parent_id = #{pId}) 
			</if>
			<if test="roleIds != null">
				resource_id in(
					select resource_id from t_role_resource_link 
					where role_id in
					<foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">  
			 			#{item}
					</foreach>
				)
			</if>
		</where>
		order by resource_order
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="getAllCount" resultType="int" parameterType="map">
		select count(1) from t_resource_info
		<where>
			<if test="pId != null">
				(resource_id = #{pId} or parent_id = #{pId}) 
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="com.cjk.param.ResourceAlterParam" >
		update t_resource_info
		<set>
	      <if test="resourceName != null" >
	        resource_name = #{resourceName},
	      </if>
	      <if test="type != null" >
	        type = #{type},
	      </if>
   	      <if test="url != null" >
	        url = #{url},
	      </if>
	      <if test="resourceOrder != null" >
	        resource_order = #{resourceOrder},
	      </if>
	      <if test="parentId != null" >
	        parent_id = #{parentId},
	      </if>
   	      <if test="permision != null" >
	        permision = #{permision},
	      </if>
   	      <if test="remark != null" >
	        remark = #{remark},
	      </if>
	    </set>
	    where resource_id = #{resourceId}
	</update>
	
	<insert id="create" parameterType="com.cjk.param.ResourceAlterParam" useGeneratedKeys="true" keyProperty="resourceId">
		insert into t_resource_info
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	        <if test="resourceName != null" >
	          resource_name,
	        </if>
	        <if test="type != null" >
	          type,
	        </if>
	        <if test="url != null" >
	          url,
	        </if>
	        <if test="resourceOrder != null" >
	          resource_order,
	        </if>
	        <if test="parentId != null" >
	          parent_id,
	        </if>
	        <if test="parentIds != null" >
	          parent_ids,
	        </if>
	        <if test="permision != null" >
	          permision,
	        </if>
	        <if test="remark != null" >
	          remark,
	        </if>
    	</trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	        <if test="resourceName != null" >
	          #{resourceName},
	        </if>
	        <if test="type != null" >
	          #{type},
	        </if>
	        <if test="url != null" >
	          #{url},
	        </if>
	        <if test="resourceOrder != null" >
	          #{resourceOrder},
	        </if>
	        <if test="parentId != null" >
	          #{parentId},
	        </if>
	        <if test="parentIds != null" >
	          #{parentIds},
	        </if>
	        <if test="permision != null" >
	          #{permision},
	        </if>
	        <if test="remark != null" >
	          #{remark},
	        </if>
    	</trim>
	</insert>
</mapper>