<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjk.dao.UserMapper">
	<resultMap id="userResultMap" type="com.cjk.domain.User">
		<id column="user_id" property="userId" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<collection property="roleSet" ofType="com.cjk.domain.Role" column="user_id">  
            <id column="role_id" property="roleId"/>  
            <result column="role_name" property="roleName"/>  
        </collection>
	</resultMap> 

<!-- 	<select id="getById" resultType="com.cjk.domain.User">
		select user_id as userId, username as username, password as password
		from t_user_info
		where user_id = #{userId}
	</select> -->
	
	<select id="getByUsername" resultMap="userResultMap">
		select A.user_id, A.username, A.password,C.role_id, C.role_name from 
		(
			select * from t_user_info
			where username = #{username}
		) as A
		left join t_user_role_link B
		on A.user_id = B.user_id
		left join t_role_info C
		on C.role_id = B.role_id
	</select>
	
	<select id="getAll" parameterType="com.cjk.param.common.PageParam" resultMap="userResultMap">
		select A.user_id, A.username, A.password,C.role_id, C.role_name from 
		(
			select * from t_user_info
		) as A
		left join t_user_role_link B
		on A.user_id = B.user_id
		left join t_role_info C
		on C.role_id = B.role_id
		limit #{offset}, #{limit}
	</select>
	
	<select id="getAllCount" resultType="int">
		select count(1) from t_user_info
	</select>
</mapper>