/* È¥Ô²½Ç */
#loginFrm span.input-group-addon,#loginFrm input.form-control,#loginFrm button.btn{
	border-radius:0px;
}
#loginFrm span.input-group-addon:first-child>i{
	opacity: 0.6;
}
#loginFrm span.input-group-addon:last-child{
	background: transparent;
}
#loginFrm span.input-group-addon:last-child>i{
	display: none;
	opacity: 0.2;
	cursor: pointer;
}
#loginFrm span.input-group-addon:last-child>i:hover{
	opacity: 0.6;
}
#loginFrm div.input-group{
	margin-bottom:20px;
}
#loginFrm input.form-control{
	border-right: 0px;
}
#loginFrm input.form-control:focus{
	border-color: #080808;
	box-shadow:none;
}
#loginFrm input[name=authCode]+img{
	position:absolute;
	width:100px;
	height:34px;
}
div.panel.panel-default{
	border-color:#080808;
}
div.panel-default div.panel-heading{
	color:#FFF;
	background-color:#080808;
}
div.panel-body input, div.panel-body span{
	border-color:#222;
}
div.panel-footer{
	color: #d9534f;
	height:40px;
	padding-top: 10px;
	background-color:#eee;
}
div.panel-footer a{
	color: #d9534f;
	text-decoration: none;
	display: block;
}

#dataTbl td{
	text-align:center;
}