body{
	font-family: "Microsoft YaHei","Hiragino Sans GB"
}
.input-info{
	width:100%;
	height:20px;
}
.glyphicon.gray{
	color:#cccccc;
}
#submit{
	width: 100%;
}
.input-info{
	color:#cccccc;
}
#registerFrm{
	margin:20px 10%;
}
#registerFrm i+i{
	font-size: 12px;
	font-style: normal;
	padding-right:5px; 
}
#registerFrm .glyphicon-ok{
	color:#5cb85c;
}
#registerFrm i.validate-error{
	color:#ee2222;
}
#authImg{
	height:34px;
}

div.panel.panel-default{
	border-color:#080808;
}
div.panel-default div.panel-heading{
	color:#FFF;
	background-color:#080808;
}
div.panel-heading a{
	color:#FFFFFF;
	text-decoration:none;
	display:inline-block;
}
div.panel-body input{
	border-color:#222;
}